*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("./images/Screenshot_20230815_133407_Chrome.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   
}
.navbar{
    background-color:rgb(91, 91, 91);
}
#indexblogs{
    background-color:rgba(91, 91, 91,0.2);
    color:black;
    font-weight: 900;
    text-decoration:none;
}
#postbtn{
    border-radius: 25px;
}
#a{
    text-decoration: none;
}